@import url("https://fonts.googleapis.com/css?family=Sen&display=swap");

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: Sen, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;  
  background: #c9ced3;  
}

.container {
  width: 100%;
  color: #E5EBFA;
  background: #1D67CD;;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 5px 30px 10px rgba(0, 0, 0, 0.4);
}

#button-close {
  margin-left: auto;
  margin-top: 5px;
  margin-right: 5px;
  overflow: hidden;
  position: relative;
  border: none;
  padding: 0;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  background: transparent;
  color: #1da1f2;
  font: inherit;
  text-indent: 100%;
  cursor: pointer;
}
#button-close:focus {
  outline: solid 0 transparent;
  box-shadow: 0 0 0 2px #8ed0f9;
}
#button-close:hover {
  background: rgba(29, 161, 142, 0.1);
}
#button-close:before, #button-close:after {
  position: absolute;
  top: 15%;
  left: calc(50% - .0625em);
  width: 0.125em;
  height: 70%;
  border-radius: 0.125em;
  transform: rotate(45deg);
  background: currentcolor;
  content: "";
}
#button-close:after {
  transform: rotate(-45deg);
}

h1 {
  margin-top: 0px;
  margin-bottom: 25px;
}

/* hide selections */
/* #div1, #div4, #div5, #div6, #div7, #div8, #div9 {
  display: none;
  flex-direction: column;
} */
#div1, #div2, #div3, #div4, #div5, #div6, #div7, #div8, #div9 {
  display: none;
  flex-direction: column;
}

#form {
    width: 320px;
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    margin-bottom: 40px;
  }

  #form label {
    font-size: 17px;
    margin-bottom: 4px;
  }

  #form select {
    padding: 5px;
    border-radius: 4px;
    margin-bottom: 20px;
    font-family: Sen, sans-serif;
    font-size: 15px;
  }

  #form button {
    cursor: pointer;
    color: #1D67CD;
    background: #fff;
    border: none;
    border-radius: 5px;
    height: 41px;
    width: 50%;
    font-family: Sen, sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    margin-top: 35px;   
    margin-bottom: 35px;    
  }

  #form button:hover {
    filter: brightness(200%);
    background: rgb(22, 22, 22);
  }
  
 #form input {
    width: 100%;
    height: 34px;
    padding: 5px;
    border-radius: 5px;
    outline: none;
    box-sizing: border-box;
    transition: all 0.3s;
    font-family: Sen, sans-serif;
    font-size: 15px
  }
  
  #form input:valid {
    border: 1px solid green;
  }
  
  #form input:invalid {
    border: 1px solid red;
  }

  #form output {
    width: 75%;
    height: 34px;
    padding: 5px;
    color: black;
    background: #fff;
    border-radius: 5px;
    outline: none;
    box-sizing: border-box;
    transition: all 0.3s;
  }

  #div2, #div3 {
    width: 92%;
    padding: 0px 8px;
    color: black;
    background: #fff;
    border-radius: 5px;
  }
  #div2 p, #div3 p {
    margin: 5px 0;
  }

  .message-container {
    border-radius: 5px;
    width: 90%;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    color: black;
  }  
  

@media screen and (min-width: 500px) {
    .container {
      width: 500px;
    }
    #form {
      width: 369px;
    }
}    