<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="./public/css/style.css" rel="stylesheet">
  <title>Price Quote</title>
</head>

<body>
  <div class="container">
      <button id='button-close'>close</button>
      <h1>Get an Instant Quote</h1>
      <form id="form" method="POST" action="/sendmail">
          <label for="service">Type of service</label>
          <select name="service" onchange="showHide1(this)" id="service" required >
            <option value="" disabled selected>Select your option</option>
            <option value="1">Financial statements & tax returns preparation</option>               
            <option value="2">Incorporation & business accounts registration</option>
            <option value="3">Personal tax preparation</option>
          </select>
          
          <div id="div1">
            <label for="category">Category</label>
            <select name="category" onchange="showHide2(this)" id="category" >
              <option value="" disabled selected>Select your option</option>
              <option value="4">Compilation</option>               
              <option value="5">Review Engagement</option>
              <option value="6">Audit Engagement</option>
            </select>
          </div>
                   
          <div id="div4">
            <label for="compilationTxn">Transactions per year</label>
            <select name="compilationTxn" onchange="showHide3(this)" id="compilationTxn" >
              <option value="" disabled selected >Select your option</option>
              <option value="7">0-50</option>
              <option value="8">50-150</option>
              <option value="9">150+</option>
            </select>
          </div>  

          <div id="div5">
            <label for="reviewTxn">Transactions per year</label>
            <select name="reviewTxn" id="reviewTxn" >
              <option value="" disabled selected >Select your option</option>
              <option value="10">150+</option>                      
            </select>
          </div>
          
          <div id="div6">
            <label for="auditTxn">Transactions per year</label>
            <select name="auditTxn" id="auditTxn" >
              <option value="" disabled selected >Select your option</option>
              <option value="11">150+</option>              
            </select>
          </div>

          <div id="div7">
            <label for="fiftyService">Available services (optional)</label>
            <select name="fiftyService" onchange="resetServiceRate(this)" id="fiftyService" >
              <option value="" >Select your option</option>
              <option value="consulting-business1">Consulting business</option>
              <option value="holdings-company1">Holdings company</option>
            </select>
          </div>  

          <div id="div8">
            <label for="oneFiftyService">Available services (optional)</label>
            <select name="oneFiftyService" onchange="resetServiceRate(this)" id="oneFiftyService" >
              <option value="" >Select your option</option>
              <option value="consulting-business2">Consulting business</option>
              <option value="holdings-company2">Holdings company</option>
              <option value="trading-retail2">Trading / Retail</option>
              <option value="mortgage-insurance-broker2">Mortgage insurance broker</option>
              <option value="home-renovation-contractor2">Home renovation contractor</option>
              <option value="medical-professional-corporation2">Medical professional corporation</option>
            </select>
          </div>  

          <div id="div9">
            <label for="oneFiftyPlusService">Available services (optional)</label>
            <select name="oneFiftyPlusService" onchange="resetServiceRate(this)" id="oneFiftyPlusService" >
              <option value="" >Select your option</option>
              <option value="consulting-business3">Consulting business</option>
              <option value="holdings-company3">Holdings company</option>
              <option value="trading-retail3">Trading / Retail</option>
              <option value="manufacturing3">Manufacturing</option>
              <option value="restaurant3">Restaurant</option>
              <option value="mortgage-insurance-broker3">Mortgage insurance broker</option>
              <option value="home-renovation-contractor3">Home renovation contractor</option>
              <option value="medical-professional-corporation3">Medical professional corporation</option>
            </select>
          </div>  
        
          <label for="email">Email address</label>
          <input type="email" id="email" name="email" 
               placeholder="email@address.com">  
               <!-- placeholder="email@address.com" required> -->
        <button type="submit"  onclick="processFormData(this)" id="submit">Submit</button>
        <label for="result">Estimated cost of service</label>
        <output name="quote" type="text" id="result"> </output>
               
        <!-- Incorporation & business accounts registration -->
        <div id="div2">

          <p>$800 <br>
          business trade name add $100</p>
        </div>

        <!-- Personal tax preparation -->
        <div id="div3">
          <p>standard $150 <br>
            capital gain/loss add $100 <br>
            self-employed business add $250 <br>
            foreign property declaration add $150            
          </p>    
        </div>  
        <!-- Error/Success Message -->
        <!-- <div class="message-container">
          <h3 id="message"></h3> 
        </div>-->
      </form>
    </div>

    <script type="text/javascript" src="./public/script/script.js"></script>
  
</body>

</html>